body,
.container {
    background: #120024;
    color: #ff6000;
    font-weight: bold;
}

h3 {
    color: #ff6000;
}

a {
    color: #7C72A0;
    text-decoration: none;
}

h1,
a:hover {
    color: #047e63;
}

input {
    background: #120024;
    border: none;
    outline: none;
    color: #047e63;
    width: 100%;
    font-weight: bold;
}

.btn {
    color: #ff6000;
    background: #120024;
    font-weight: bold;
}

.btn:hover {
    background: #047e63;
    color: #120024;
    font-weight: bold;
}

.date-weather-info {
    background: #120024;
}

.main {
    width: 640px;
}

.date-weather,
.search,
.col {
    background: #250c3e;
}